

#playerinfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 2vw;
    padding: 3vh 6vw 5vh;
}

.playername {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}


.playername > input[type = "text"] {
    padding: 2vh;
    border-radius: 10px;
    border: 1px solid black;
}

#playersubmit {
    padding: 10px 15px;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    background-color: brown;
}

#playersubmit:hover{
    transform: scale(1.05);
    background-color: crimson;
    cursor: pointer;
    transition-duration: 0.1s;
}